
{% extends 'base.twig' %}

{% block detail %}

<div class="grid">
    <article>
        <h2>Discover the "{{dinos.name}}"</h2>
        <div class="description">
            Lorem ispum  "{{dinos.description}}"
        </div>

        <div class="card">
 
            <img src="{{dinos.avatar}}" alt="{{dinos.name}}">
            <dl>
                <dt>Name</dt>
                <dd>"{{dinos.name}}"</dd>
                <dt>Name_meaning</dt>
                <dd>"{{dinos.name_meaning}}"</dd>
                <dt>Diet</dt>
                <dd>"{{dinos.diet}}"</dd>
                <dt>Height</dt>
                <dd>"{{dinos.height}}"</dd>
                <dt>Length</dt>
                <dd>"{{dinos.length}}"</dd>
                <dt>Weight</dt>
                <dd>"{{dinos.weight}}"</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3> 
      {% for dino in dinosAleatoire %}  
            <a href="{{dino.slug}}">
                <figure>
                    <img src="{{dino.avatar}}" alt="{{dino.name}}" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
            {% endfor %}
    </aside>
</div>

{% endblock %}