{% extends 'base.twig' %}

{% block content %}

{% for dino in dinos %}
        <a href="/dino/{{dino.slug}}">
            <figure>
            <img src="{{dino.avatar }}" alt="{{dino.name}}" />
                <figcaption>Discover the "{{dino.slug}}"</figcaption>
            </figure>
        </a>


{% endfor %}


{% endblock %}




 
